.formContainer {
  background-color: #f0f2f5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formWrapper {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
  padding: 15px;
  border: none;
  border-bottom: #a7bcff 1px;
  background-color: whitesmoke;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  border: none;
}

.button {
  background-color: #7b96ec;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

label {
  display: flex;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo {
  font-size: xx-large;
  font-weight: bold;
}

.container {
  border: 1px solid white;
  border-radius: 8px;
  width: 65%;
  height: 80%;
  display: flex;
}

.sidebar {
  flex: 1;
  border-right: 1px solid rgb(155, 155, 217);
  overflow: hidden;
  background-color: #59559e;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  background-color: #2f2d52;
  justify-content: space-around;
  padding: 10px;
  color: #ddddf7;
}

.navbar > .logo1 {
  font-weight: bold;
  font-size: 15px;
}

.navbar > .user {
  display: flex;
  gap: 10px;
}

.avatar-img {
  border-radius: 50%;
}

.logout {
  background-color: #5d5b8d;
  color: #ddddf7;
  font-size: 10px;
  border: none;
  cursor: pointer;
  height: 20px;
}

.chat {
  flex: 2;
}

.search {
  border-bottom: 1px solid gray;
}

.searchForm {
  padding: 10px;
  color: white;
}

input {
  background-color: transparent;
  border: 1px solid gray;
  color: white;
}

.formWrapper input {
  color: black;
}

.userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.userChat:hover {
  background-color: #7676a5;
}

.userChatInfo > p {
  font-size: 14px;
  color: lightgray;
}
.userChatInfo + span {
  font-size: 18px;
  font-weight: 500;
}

.chatIcon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  filter: invert(100%);
}

.chatInfo {
  height: 50px;
  background-color: #5d5b8d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: lightgray;
}

.messages {
  background-color: #ddddf7;
  padding: 10px;
  height: calc(100% - 160px);
  overflow: scroll;
}

.input {
  height: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.input > input {
  width: 100%;
  border: none;
  outline: none;
  color: black;
  font-size: 18px;
}

.sendBtn {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #8da4f1;
  cursor: pointer;
  border-radius: 5px;
}

.message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.messageInfo {
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
}

.messageContent {
  max-width: 80%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messageContent p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}

.owner {
  flex-direction: row-reverse;
}

.owner p {
  background-color: rgb(116, 168, 186);
  color: white;
  border-radius: 10px 0px 10px 10px;
}
