@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.loginPage {
  background-color: #d6effa;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    .welcomeSection {
      height: 100%;
      padding: 30px;
      width: 60%;
      background-color: #66bdd8;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // padding-bottom: 40%;
      .header {
        display: flex;
        align-items: center;
        span {
          font-size: 2rem;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-weight: 500;
          text-shadow: 0px 1px 2px #2f2d52;
        }
      }
      .content {
        max-width: inherit;
        margin-bottom: 40%;
        width: fit-content;
        .title {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 4rem;
          text-shadow: 0px 2px 4px #2f2d52;
          color: #0c2a34;
        }
        .subtitle {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 30px;
          color: #0c2a34;
        }
      }
    }
    .formWrapper {
      box-shadow: none;
      width: 40%;
      background-color: white;
      padding: 20px 60px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      .title {
        color: #5d5b8d;
        font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
        font-size: 44px;
        font-size: 500;
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        input {
          background-color: #ebe4e4;
          border-radius: 20px;
          padding: 15px;
          border: none;
          width: 70%;
          // border-bottom: 1px solid #a7bcff;
          &::placeholder {
            color: rgb(175, 175, 175);
          }
        }

        button {
          background-color: #7b96ec;
          color: white;
          padding: 10px;
          font-weight: bold;
          border: none;
          cursor: pointer;
          width: 70%;
          border-radius: 20px;

          &:hover {
            background-color: #4960af;
          }

          img {
            width: 20px;
            height: 20px;
          }
        }
        label {
          display: flex;
          align-items: center;
          gap: 10px;
          color: black;
          font-size: 12px;
          cursor: pointer;

          img {
            width: 32px;
            height: 32px;
          }
        }
      }
      p {
        color: #5d5b8d;
        font-size: 12px;
        margin-top: 10px;
      }

      .methodLogin {
        img {
          width: 2.5em;
          height: 2.5em;
          margin: 5px;
        }
      }
    }
  }
}

.home {
  background-color: #d6effa;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 90%;
    height: 90%;
    display: flex;
    overflow: hidden;
    padding: 0;
    @include tablet {
      width: 90%;
    }

    .sidebar {
      flex: 1;
      background-color: #87b1c3;
      position: relative;
      width: 40%;
      border: none;

      .navbar {
        display: flex;
        align-items: center;
        background-color: black;
        height: 60px;
        width: 100%;
        padding: 10px;
        justify-content: space-between;
        color: #ddddf7;

        .logo {
          font-weight: bold;
          @include tablet {
            display: none;
          }
        }

        .user {
          display: flex;
          gap: 10px;

          img {
            background-color: #ddddf7;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid white;
          }

          button {
            background-color: #5d5b8d;
            color: #ddddf7;
            font-size: 10px;
            border: none;
            cursor: pointer;
            @include tablet {
              position: absolute;
              bottom: 10px;
            }
          }
        }
      }
      .search {
        padding-left: 20px;
        padding-right: 20px;

        .searchForm {
          border-bottom: 1px solid black;
          height: 65px;
          input {
            background-color: transparent;
            border: none;
            color: black;
            outline: none;
            font-weight: 500;
            &::placeholder {
              color: #544f4f;
            }
          }
          img {
            height: 27px;
            width: 27px;
          }
        }
      }
      .chats {
        height: 70%;
        overflow-x: hidden; /* Hide horizontal scrollbar */
        overflow-y: scroll; /* Add vertical scrollbar */

        .userChat {
          padding: 10px 20px 10px 20px;
          display: flex;
          align-items: center;
          gap: 10px;
          color: black;
          cursor: pointer;
          img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
          .statusIcon {
            height: 30px;
            width: 30px;
            position: relative;
            bottom: -15px;
            left: -30px;
            border: transparent;
            border-style: solid;
            border-width: 3px;
          }
          &:hover {
            background-color: #5c889b;
          }

          .userChatInfo {
            position: relative;
            left: -30px;
            bottom: -5px;
            span {
              font-size: 16px;
              font-weight: 700;
            }
            p {
              font-size: 14px;
              color: rgb(73, 64, 64);
            }
          }
        }
      }

      .setting {
        position: absolute;
        bottom: 10px;
        left: 15px;
        .settingIcon {
          height: 40px;
          width: 40px;
          margin-right: 5px;
          transform: rotate(0);
          transition-duration: 0.5s;
          transition-timing-function: linear;
          &:active {
            transform: rotate(90deg);
            transition-duration: 0.5s;
            transition-timing-function: linear;
          }
        }
        button {
          border-radius: 20px;
          padding: 5px 10px 5px 10px;
          font-weight: 500;
          background-color: #d9d9d9;
          img {
            height: 24px;
            width: 24px;
          }
          &:hover {
            background-color: #fefeff;
          }
        }
      }
    }
    .chat {
      flex: 2;
      width: 100%;
      .chatInfoBox {
        height: 50px;
        background-color: black;

        color: lightgray;
        width: 100%;
        height: 60px;
        .chatInfo {
          padding: 10px;
          display: flex;
          align-items: center;
          background-color: black;
          justify-content: space-between;
          .receiverInfo {
            img {
              border: none;
              width: 30px;
              height: 30px;
              margin-right: 5px;
            }
          }
        }
      }

      .chatIcons {
        display: flex;
        gap: 10px;

        img {
          height: 30px;
          cursor: pointer;
        }
      }

      .messages {
        background-color: #1e1e1e;
        padding: 10px 20px 10px 20px;
        height: calc(100% - 120px);
        overflow-x: hidden; /* Hide horizontal scrollbar */
        overflow-y: scroll; /* Add vertical scrollbar */

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 5px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: white;
            font-weight: 300;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .messageContent {
            max-width: 55%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
              background-color: white;
              padding: 8px 20px;
              border-radius: 15px;
              max-width: max-content;
              margin-top: -15px;
            }

            img {
              width: 100%;
              height: 100%;
              max-width: 1000px;
              max-height: 1000px;
              border-radius: 10px;
              margin-bottom: 20px;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;
              p {
                background-color: #8da4f1;
                color: white;
                border-radius: 15px;
              }
            }
          }
        }
      }

      .input {
        height: 60px;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        padding-right: 20px;

        input {
          width: 100%;
          border: none;
          outline: none;
          color: #2f2d52;
          font-size: 18px;

          &::placeholder {
            color: lightgray;
          }
        }
        .sendContent {
          height: 35px;
          width: 35px;
          cursor: pointer;
        }
        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 25px;
            width: 25px;
            cursor: pointer;
            border-radius: 0;
          }
        }
      }
    }
  }
}
